# IntelliJ IDEA
.idea
!/.idea/copyright
*.iml

# Gradle
.gradle
build/
local.properties
reports
jacoco.exec
.externalNativeBuild
.cxx
.kotlin

# iOS
*.pbxuser
# Ignore generated Xcode projects
*.xcworkspace
xcuserdata
Pods

# Release
docs/0.x

# Testing
zipline-gradle-plugin/src/test/projects/**/gradle/wrapper

# Yarn
samples/**/yarn.lock
zipline-gradle-plugin/src/test/projects/**/yarn.lock

generated-zipline-webpack-config.js
